fastapi==0.*
uvicorn==0.*
neo4j==5.*
python-dotenv==1.*
numpy>=1.0
scikit-learn>=1.0
networkx>=3.0
python-louvain>=0.0
openai==1.*
pinecone[asyncio]>=6,<8
sentence-transformers>=2.7.0
torch
rapidfireai
langchain-pinecone>=0.2.13
langchain-huggingface
langchain-core
langchain-community
langchain-text-splitters
faiss-cpu
